//Global values start
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Barlow:wght@100;200;300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Barlow", Helvetica, Sans-Serif;
  height: 100%;
  width: 100%;
}

@mixin dislayFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin displayFlexBetween {
  @include dislayFlex();
  justify-content: space-between;
}

@mixin dislapyFlexColumn {
  @include dislayFlex();
  flex-direction: column;
}

.website-wrapper {
  @include dislapyFlexColumn();
  justify-content: flex-start;
  padding: 0 10rem;
  background-image: url(./images/dot-pattern01.jpg);
  background-size: 0.5rem 0.5rem;
  background-color: rgb(78, 78, 78);
  background-blend-mode: multiply;
  min-height: 100vh;
  padding-top: 6rem;
}

.header {
  position: fixed;
  z-index: 3;
  top: 0;
  @include displayFlexBetween();
  width: 100%;
  height: 6rem;
  padding: 0 2rem;
  background-color: black;
  .burger-menu {
    position: relative;
    @include dislapyFlexColumn();
    justify-content: space-between;
    width: 3rem;
    height: 2rem;
    cursor: pointer;
    transition: 0.3s all ease;
    .line {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 3rem;
      height: 4px;
      background-color: red;
      transition: 0.3s all ease;
    }
    .line1 {
      top: 0;
    }
    .line3 {
      top: 100%;
    }
  }
  .burger-menu-clicked {
    .line1 {
      transform: translate(-50%, -50%) rotate(45deg);
      top: 50%;
    }
    .line2 {
      opacity: 0;
    }
    .line3 {
      transform: translate(-50%, -50%) rotate(-45deg);
      top: 50%;
    }
  }

  .logo-container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    @include dislayFlex();
    text-decoration: none;
    transition: 0.5s all ease;
    .logo-image {
      background-image: url(./images/marvel-logo.png);
      width: 8rem;
      height: 4rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .logo-text {
      margin-left: 0.2rem;
      text-align: left;
      color: white;
      color: red;
      font-size: 1.3rem;
      font-weight: 600;
    }
  }
  .text-input {
    @include dislayFlex();
    height: 4rem;
    background-color: grey;
    width: auto;
    background-color: red;
    border-radius: 1rem 0 1rem 0;
    overflow: hidden;
    z-index: 1;
    .input-field {
      height: 100%;
      width: 20rem;
      padding: 0;
      padding-left: 0.5rem;
      font-size: 1.2rem;
      outline: none;
      border: none;
      transition: 0.5s all ease;
    }
    .button-submit {
      cursor: pointer;
      @include dislayFlex();
      height: 100%;
      width: 4rem;
      color: white;
      background-color: red;
      transition: 0.5s all ease;
      border: 3px solid transparent;
      border-radius: 0 0 1rem 0;
      .icon {
        font-size: 1.5rem;
      }
    }
  }
}

.side-menu {
  position: fixed;
  transform: translate(0, 0);
  transform: translate(-100%, 0);
  transition: 1s all ease;
  top: 6rem;
  left: 0;
  @include dislapyFlexColumn();
  align-items: flex-start;
  justify-content: flex-start;
  background-color: black;
  color: white;
  z-index: 4;
  width: auto;
  height: calc(100% - 6rem);
  border: 3px solid red;
  border-left: none;
  border-right: none;
  padding: 2rem;
  .category-name {
    margin-bottom: 1rem;
  }
  .category-list {
    @include dislapyFlexColumn();
    align-items: flex-start;

    .list-item {
      font-size: 1.3rem;
      cursor: pointer;
      transition: 0.3s all ease;
    }
  }
}

.side-menu-open {
  transform: translate(0, 0);
}

.main-content-container {
  @include dislapyFlexColumn();
  width: 100%;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero-wrapper {
  @include dislapyFlexColumn();
  align-items: flex-start;
  margin-top: 2rem;
  width: 100%;
  .container-title {
    animation: 1s fade-in ease forwards;
    color: white;
    opacity: 0;
    margin-bottom: 2rem;
    font-size: 4rem;
    font-family: "Bangers", Helvetica, Sans-Serif;
    letter-spacing: 0.2rem;
  }
}

.hero-comics-wrapper {
  width: 100%;
  .container-title {
    animation-delay: 1.5s;
  }
}

@keyframes hero-description-animation {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes hero-image-animation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.hero-info-container {
  @include displayFlexBetween();
  height: 30rem;
  width: 100%;
  overflow: hidden;
  border-radius: 3rem 0 3rem 0;
  .hero-image {
    animation: hero-image-animation 0.5s forwards ease;
    animation-delay: 0.2s;
    transform: translateY(-100%);
    width: 40%;
    height: 100%;
    background-color: black;
    background-size: cover;
    background-position: center;
    z-index: 1;
    border: 6px solid rgb(0, 0, 0);
    border-radius: 3rem 0 0 0;
    border-right: transparent;
  }
  .hero-description {
    animation: hero-description-animation 0.5s forwards ease;
    opacity: 0;
    transform: translateX(-100%);
    animation-delay: 0.75s;
    @include dislapyFlexColumn();
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 60%;
    background-color: black;
    color: white;
    padding: 2rem;
    border-radius: 0 0 3rem 0;
    border-left: 6px solid red;
    .color-text {
      color: red;
      margin-right: 0.3rem;
      font-weight: 500;
    }
    .info-div {
      margin-bottom: 1rem;
    }

    .hero-about {
      width: 100%;
    }
    .hero-name {
      font-family: "Bangers", Helvetica, Sans-Serif;
      letter-spacing: 0.2rem;
      text-align: center;
      font-size: 4rem;
      margin-bottom: 1rem;
    }
    .hero-about {
      font-size: 1.1rem;
      text-align: justify;
    }
  }
}

@keyframes icon-spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.data-info-text {
  @include dislayFlex();
  justify-content: flex-start;
  width: 100%;
  font-family: "Bangers", Helvetica, Sans-Serif;
  font-size: 4rem;
  letter-spacing: 0.2rem;
  color: white;
  margin-top: 2rem;
  animation: 0.5s fade-in ease;
  .icon {
    margin-left: 1rem;
    animation: 1s icon-spin-animation linear infinite;
  }
  .icon-exclamation {
    animation: none;
  }
}

@keyframes hero-comic-animation {
  0% {
    opacity: 0;
    transform: translate(-100%, 100%) scale(0.3);
  }
  100% {
    opacity: 1;
    transform: translate(0) scale(1);
  }
}

.hero-comics-container {
  @include dislapyFlexColumn();
  animation: 0.5s fade-in ease forwards;
  opacity: 0;
  animation-delay: 2s;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  .hero-comic {
    animation: 0.4s hero-comic-animation ease forwards;
    opacity: 0;
    width: calc((100% / 4) - 1rem);
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 3rem 0 3rem 0;
    overflow: hidden;
    border: 6px solid rgb(0, 0, 0);
    margin-bottom: 1rem;

    .comic-poster {
      height: 30rem;
      width: 100%;
      background-size: cover;
      background-position: center;
      cursor: pointer;
    }
    .comic-info {
      width: 100%;
      @include dislapyFlexColumn();
      align-items: flex-start;
      color: black;
      padding: 1rem;
      border-top: 6px solid rgb(255, 0, 0);
      .color-text {
        color: red;
        margin-right: 0.3rem;
        font-weight: 500;
      }
      .info-div {
        margin-bottom: 1rem;
      }
      div:last-of-type {
        margin-bottom: 0;
      }
      .comic-title {
        font-size: 1.3rem;
        font-weight: 500;
      }
      .comic-characters-container,
      .comic-creators-container {
        @include dislayFlex();
        width: 100%;
        justify-content: flex-start;
        flex-wrap: wrap;
        .list-item {
          @include dislayFlex();
        }
        .punctuation {
          margin-right: 0.3rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 1025px) {
  .header {
    .burger-menu:hover {
      height: 1.5rem;
    }

    .burger-menu-clicked:hover {
      height: 2rem;
      .line {
        width: 2.5rem;
      }
    }

    .text-input {
      .button-submit:hover {
        background-color: white;
        border: 3px solid red;
        color: red;
      }
    }
  }

  .side-menu {
    .category-list {
      .list-item:hover {
        color: red;
      }
    }
  }
}

@media only screen and (max-width: 1250px) {
  .website-wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .header {
    .text-input {
      .input-field {
        width: 16rem;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .website-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .header {
    padding: 0 1rem;
  }

  .hero-comics-container {
    .hero-comic {
      width: calc((100% / 3) - 1rem);
    }
  }
}

@media only screen and (max-width: 768px) {
  .hero-comics-container {
    .hero-comic {
      width: calc((100% / 2) - 1rem);
    }
  }

  .hero-wrapper {
    margin-top: 1rem;
    .container-title {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
  }

  .data-info-text {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 420px) {
  .website-wrapper {
    padding-top: 5rem;
  }

  .header {
    height: 4rem;
    .logo-container {
      .logo-image {
        width: 6rem;
        height: 3rem;
      }
      .logo-text {
        font-size: 1.1rem;
      }
    }
    .text-input {
      height: 3rem;
      .input-field::placeholder {
        font-size: 1rem;
      }
      .button-submit {
        width: 3rem;
      }
    }
  }

  .side-menu {
    top: 4rem;
    width: 100%;
    height: calc(100% - 4rem);
  }

  .hero-wrapper {
    align-items: center;
  }

  .hero-comics-container {
    .hero-comic {
      width: 100%;
      .comic-poster {
        height: 25rem;
      }
    }
  }

  .data-info-text {
    flex-direction: column;
    justify-content: center;
    .message-text {
      text-align: center;
      margin-bottom: 1rem;
    }
    .icon {
      font-size: 5rem;
    }
  }

  .hero-info-container {
    @include dislapyFlexColumn();
    width: 100%;
    height: auto;
    .hero-image {
      height: 22rem;
      width: 100%;
      border-right: 6px solid black;
    }
    .hero-description {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 1rem;
      border-top: 6px solid red;
      border-left: none;
      width: 100%;
      .hero-name {
        text-align: center;
        width: 100%;
        font-size: 3rem;
      }
      .info-div {
        margin-bottom: 0.5rem;
      }
      .info-numbers {
        @include dislayFlex();
        width: 33%;
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .hero-info-container {
    .hero-image {
      height: 20rem;
    }
  }
}

@media only screen and (max-width: 320px) {
  .side-menu {
    padding: 1rem;
    .category-name {
      font-size: 1.8rem;
    }
    .category-list {
      .list-item {
        font-size: 1rem;
      }
    }
  }

  .data-info-text {
    font-size: 2.5rem;
  }

  .hero-info-container {
    .hero-description {
      .info-numbers {
        width: 100%;
      }
    }
  }
}
